

#BuildingSpaces {
    background-image: url('../../images/about-call-to-action-57862405.jpg');
    background-position: bottom;
    background-size: cover;
    height: 400px;
    width: 100%;
   /*  overflow: hidden; */
  
}