* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}


header {
  background-color: white;
  height: 130px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  z-index: 10;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 20px;
  margin: 0 !important;
}

li {
  margin: 0 18px;
}

a {
  text-decoration-line: none !important;
  color: rgb(162 139 139) !important;

}

a:hover {
  color: yellow !important;
}


.arrow {
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 122px;
  right: 550px;
  transform: rotate(45deg);
}


#hamburgherBtn {
  width: 50px;
  height: 50px;
  display: none;
}

@media screen and (max-width: 768px) {

  #navmenu {
    display: none !important;
  }

  #hamburgherBtn {
    display: block;
  }

  .arrow{
    display: none;
  }
}