#cardN {
    width: 400px;
    margin: 0 10px;
    transition: 0.2s linear;
}

#cardN .border-cardN {
    border: 1px solid #EAE8E8
}

#cardN:hover {
    box-shadow: black 0 0 10px -5px;
    transition: 0.2s linear;
    transform: translateY(-5px);
}